<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 
 
 	<bean id="animal" class="example3.Animal">
 		<constructor-arg value="사모예드"></constructor-arg>
 	</bean>
 	
 	<bean id="owner" class="example3.Owner">
 		<constructor-arg ref="animal"></constructor-arg>
 		<constructor-arg value="Kimsungmin"></constructor-arg>
 	</bean>
</beans>